[Unit]
Description=Check ArtisanalBrew container health
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/artisanalbrew-healthcheck
