cafe.alexisreyna.dev {
    encode zstd gzip

    header {
        X-Content-Type-Options nosniff
        Referrer-Policy strict-origin-when-cross-origin
    }

    @agent path /sse /messages /bazaar /.well-known/agent-card.json
    reverse_proxy @agent gateway:4022
    reverse_proxy web:8080
}
