ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__DefaultConnection=Host=localhost;Port=5433;Database=this_cafeteria;Username=YOUR_DB_USER;Password=YOUR_DB_PASSWORD
AWS__Region=us-east-1
AWS__S3BucketName=this-cafeteria-dev-assets
AWS__SqsQueueUrl=http://localhost:4566/000000000000/order-processing
AWS__SesSenderEmail=no-reply@thiscafeteria.local
Authentication__AdminEmail=admin@example.local
Authentication__AdminPassword=CHANGE_ME_STRONG_PASSWORD
POSTGRES_DB=this_cafeteria
POSTGRES_USER=YOUR_DB_USER
POSTGRES_PASSWORD=YOUR_DB_PASSWORD
PGADMIN_DEFAULT_EMAIL=admin@example.local
PGADMIN_DEFAULT_PASSWORD=CHANGE_ME_PGADMIN_PASSWORD

# BSC Testnet liquid staking + CoffeeCoin
Blockchain__BNBTestnet__RpcUrl=https://rpc.ankr.com/bsc_testnet_chapel
Blockchain__BNBTestnet__CoffeeCoinContract=0x7a2b...
Blockchain__BNBTestnet__MarketplaceWallet=0xYOUR_CAFE_PAYMENT_WALLET
CoffeeCoinOwner__PrivateKey=
