ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__DefaultConnection=Host=localhost;Port=5433;Database=this_cafeteria;Username=YOUR_DB_USER;Password=YOUR_DB_PASSWORD
AWS__Region=us-east-1
AWS__S3BucketName=this-cafeteria-dev-assets
AWS__SqsQueueUrl=http://localhost:4566/000000000000/order-processing
AWS__SesSenderEmail=no-reply@thiscafeteria.local
Authentication__AdminEmail=admin@example.local
Authentication__AdminPassword=CHANGE_ME_STRONG_PASSWORD
POSTGRES_DB=this_cafeteria
POSTGRES_USER=YOUR_DB_USER
POSTGRES_PASSWORD=YOUR_DB_PASSWORD
PGADMIN_DEFAULT_EMAIL=admin@example.local
PGADMIN_DEFAULT_PASSWORD=CHANGE_ME_PGADMIN_PASSWORD

# Ethereum Sepolia CoffeeCoin
Blockchain__Network__NetworkName=Ethereum Sepolia
Blockchain__Network__ChainId=11155111
Blockchain__Network__ChainIdHex=0xaa36a7
Blockchain__Network__RpcUrl=https://ethereum-sepolia-rpc.publicnode.com
Blockchain__Network__CurrencyName=Sepolia ETH
Blockchain__Network__CurrencySymbol=ETH
Blockchain__Network__CurrencyDecimals=18
Blockchain__Network__ExplorerUrl=https://sepolia.etherscan.io/
Blockchain__Network__PaymentTokenContract=0xYOUR_SEPOLIA_ERC20_PAYMENT_TOKEN
Blockchain__Network__CoffeeCoinContract=0xYOUR_SEPOLIA_COFFEECOIN_CONTRACT
Blockchain__Network__MarketplaceWallet=0xYOUR_CAFE_PAYMENT_WALLET
CoffeeCoinOwner__PrivateKey=
